@page
@model Sator.App.Presentacion.Pages.carritoModel
@{
}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Código del producto</th>
      <th scope="col">Producto</th>
      <th scope="col">Ingredientes</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Salchipapas</td>
      <td>Papas y Salchichas</td>
      <td>$5.000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hamburguesa</td>
      <td>Pan Artesanal, Carne de res, queso Sheddar</td>
      <td>$15.000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mazamorra</td>
      <td>Leche, Maiz</td>
      <td>$3.000</td>
    </tr>
  </tbody>
</table>