/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*ESTILOS CARTA*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}


#btn-menu {
  display: none;
}
.container-menu{
  position: absolute;
  background: #fd8803f3;
  width: 100%;
  height: 100vh;
  top: 0; left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
  opacity: 1;
  visibility: visible;
}
 
.cont-menu{
  width: 100%;
  max-width: 250px;
  background: #03fd6bf3;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
  transform: translateX(0%);
}

.cont-menu nav{
  transform: translateY(15%);
}

.cont-menu nav a{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #fff;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover{
  border-left: 5px solid green;
  background: hotpink;
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;

}

/*
*  MENU HORIZONTAL DASHBOARD
*-------------------------------------------------------*/
#wrapperMenu {
  width: 30%;
  margin: 20px 50px;
}

.wrappernav-dashboard {
    /*background: #d3d3d3;*/
    /*border: 1px dashed orange;*/
    width: 100%;
    padding: 10px;
    margin: 0;
}
#menu-dashboard {
    /*border: 1px dashed red;*/
    border-left: 1px solid #bcbcbc; 
    border-right: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc;
    border-radius: 5px;
    overflow: hidden;
}
#menu-dashboard .active a {
    background-color: #F4BD16;
    border-radius: 0;
    color: #fff;
}
#menu-dashboard li {
    border-radius: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #bcbcbc; 
}
#menu-dashboard li > a {
    border-radius: 0;
    padding: 10px;
    color: #444;
}
#menu-dashboard > li > a:hover,
#menu-dashboard > li > a:focus {
    color: #fff;
    background: #F4BD16;
  -webkit-transition: all 1ms ease-in-out;
-moz-transition: all 1ms ease-in-out;
-ms-transition: all 1ms ease-in-out;
-o-transition: all 1ms ease-in-out;
transition: all 1ms ease-in-out;
}
#submenu {
    background: #333;
}
#submenu li {
    border: none;
}
#submenu li a {
    color: #fff;
    padding: 10px;
    margin: 0;
    text-indent: 20px;
}
#submenu li a:hover {
    background: rgba(0,0,0,.5);
}
