@page
@model Sator.App.Presentacion.Pages.cartaModel
@{
}

 <label for="btn-menu">☰</label> 
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">Carta completa</a>
			<a href="#">Entradas</a>
			<a href="#">Bebidas</a>
			<a href="#">Plato fuerte</a>
		</nav>
		<label for="btn-menu">✖️</icon-equis>
	</div>
</div>
