@page
@model Sator.App.Presentacion.Pages.EntradasModel
@{
}
@for (int i = 0; i < 10; i++)
{
	<div class="card" style="width: 18rem;" id="item">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Papas Fritas</h5>
			<p class="card-text">Papas</p>
			<p class="card-text">Queso</p>
			<p class="card-text">Tocineta</p>
			<a href="#" class="btn btn-warning">Agregar</a>
		</div>
	</div>
}