@page
@model Sator.App.Presentacion.Pages.LogingSinginModel
@{
}

<div class="text-center">
    <form>
        <section class="form-login">
            <h5>Formulario login</h5>
            <input class="controls" type="text" name="Usuario" value="" placeholder="Usuario">
            <input class="controls" type="password" name="Contrasena" value="" placeholder="Contrasena">
            <input class="btn btn-primary" type="submit" name="" value="Ingresar">
            <p><a href="a">¿Olvidaste tu contrasena?</a></p>
            <p><a href="a">¿Ya tienes una cuenta?</a></p>
        </section>
    </form>
</div>
