@page
@model Sator.App.Presentacion.Pages.LogingSinginModel
@{
}

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
</head>

<body>
	<!-- Main Content -->

	<div class="container-fluid">

		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<img src="/img/LogoLogoSatorNegroCompleto.png" class="img-fluid"><span class="company__logo"></span>
			</div>

			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">

					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="LogIn-tab" data-toggle="tab" href="#LogIn" role="tab"
								aria-controls="LogIn" aria-selected="true">
								<h5>Log In</h5>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="SignUp-tab" data-toggle="tab" href="#SignUp" role="tab"
								aria-controls="SignUp" aria-selected="false">
								<h5>Sign Up</h5>
							</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="LogIn" role="tabpanel" aria-labelledby="LogIn-tab">
							<div class="row">
								<form method="post" class="form-group">
									<div class="row">
										<input asp-for="log_email" type="text" name="Email" id="Email"
											class="form__input" placeholder="Email">
										<span class="text-danger" asp-validation-for="log_email"></span>
									</div>
									<div class="row">
										<!-- <span class="fa fa-lock"></span> -->
										<input asp-for="log_contrasena" type="password" name="password" id="password"
											class="form__input" placeholder="Password">
										<span class="text-danger" asp-validation-for="log_contrasena"></span>
									</div>
									<div class="form-check form-switch">
										<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
										<label class="form-check-label" for="flexSwitchCheckDefault">Remember
											Me!</label>
									</div>
									<div class="row">
										<input type="submit" value="Log In" class="btn">
									</div>
								</form>
							</div>
						</div>

						<div class="tab-pane fade" id="SignUp" role="tabpanel" aria-labelledby="SignUp-tab">
							<form method="post">
								<div class="form-group">
									<label asp-for="persona.nombre" for="formGroupExampleInput">Nombre</label>
									<input asp-for="persona.nombre" type="text" class="form-control"
										id="formGroupExampleInput" placeholder="Carlos">
									<span class="text-danger" asp-validation-for="persona.nombre"></span>
								</div>
								<div class="form-group">
									<label asp-for="persona.apellido" for="formGroupExampleInput2">Apellido</label>
									<input asp-for="persona.apellido" type="text" class="form-control"
										id="formGroupExampleInput2" placeholder="Perez">
									<span class="text-danger" asp-validation-for="persona.apellido"></span>
								</div>

								<div class="form-group">
									<label asp-for="persona.num_cel" for="formGroupExampleInput4">Numero
										Telefono</label>
									<input asp-for="persona.num_cel" type="text" class="form-control"
										id="formGroupExampleInput4" placeholder="1234567890">
									<span class="text-danger" asp-validation-for="persona.num_cel"></span>
								</div>

								<div class="form-group">
									<label asp-for="persona.email" for="exampleFormControlInput1">Correo</label>
									<input asp-for="persona.email" type="email" class="form-control"
										id="exampleFormControlInput1" placeholder="name@example.com">
									<span class="text-danger" asp-validation-for="persona.email"></span>
								</div>

								<div class="form-group">
									<label asp-for="persona.contrasena" for="inputPassword">Contraseña</label>
									<input asp-for="persona.contrasena" type="password" class="form-control"
										id="inputPassword" placeholder="Password">
									<span class="text-danger" asp-validation-for="persona.contrasena"></span>
								</div>

								<div class="form-group">
									<label asp-for="confContra" for="inputPasswordcomf">Confirmar Contraseña</label>
									<input asp-for="confContra" type="password" class="form-control"
										id="inputPasswordcomf" placeholder="Password">
									<span class="text-danger" asp-validation-for="confContra"></span>
								</div>
								<div class="form-check form-switch">
									<input asp-for="persona.admin" class="form-check-input" type="checkbox"
										id="flexSwitchCheckDefault">
									<label asp-for="persona.admin" class="form-check-label"
										for="flexSwitchCheckDefault">Admin</label>
									<span class="text-danger" asp-validation-for="persona.admin"></span>
								</div>
								<div class="row">
									<input type="submit" value="Register" class="btn">
								</div>

							</form>
						</div>

					</div>




				</div>
			</div>
		</div>
	</div>
	</div>



</body>
