@page
<link rel="stylesheet" href="~/css/site.css" />
@model IndexModel
@{
    ViewData["Carta"] = "Carta";
    <link rel="stylesheet" href="~/css/site.css" />
}
<div class="text-center">
    <h1 class="display-1">Bienvenidos</h1>
</div>
<label for="btn-menu">☰</open>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">Carta completa</a>
			<a href="#">Entradas</a>
			<a href="#">Bebidas</a>
			<a href="#">Plato fuerte</a>
		</nav>
		<label for="btn-menu">✖️</icon-equis>
	</div>
</div>

