@page
@model IndexModel
@{
    ViewData["Carta"] = "Carta";
    <link rel="stylesheet" href="~/css/site.css" />
}
<h1 class="display-1">Bienvenidos a Sator Restaurant</h1>
<p class="h2">Para ver nuestro Menu</p>
<a asp-page="/Carta/carta"><button type="button" class="btn btn-primary">Click Aqui</button></a>